/emulator/debug
/emulator/release
/emulator/Makefile.*
/emulator/Makefile
/object_script.*
*.user
/emulator/ui_mainwindow.h
moc_*.cpp
/emulator/.qmake.stash
/emulator/trace.log
*.o
/build-*
/emulator/.qtc_clangd
/emulator/QtNeonBtl
/emulator/qrc_*
/emulator/moc_*
/emulator/QtNeonBtl.app
*.dsk
*.img
